

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(173, 216, 230, 0.3), rgba(173, 216, 230, 0.3)), url("background_image.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #000;
}


h2 {
    color: #3498db;
    text-align: center;
}


form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(173, 216, 230, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #3498db;
    font-size: 18px;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
    color: #0e1011;
    font-size: 16px;
}


button {
    background-color: #3498db;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #1e528e;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    background-color: rgba(173, 216, 230, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0px auto;
  }
 
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
